#container{
    width: 1000px;
    margin: 0px auto 0px auto;
}

.artist img{
    width: 200px;
    height: 120px;
}
.twd img{
    width: 120px;
    height: 180px;
}
.drawing img{
    width: 200px;
    height: 120px;
    border-style: dotted;
}





h1{
    font-family: 'Arima', cursive;
    color:#663046;
}

h2{
    font-family: 'Caudex', serif;
    background-color:#e580ff;
}

p{
    font-family: 'Markazi Text', serif;
}